@{
    ViewData["Title"] = "Inicio";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Manitas del Hogar - Inicio</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <!-- Vinculamos los estilos de la Pagina Servicios -->
    <link rel="stylesheet" href="~/css/principal.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
         
            <a class="navbar-brand" href="/">
                <img src="~/images/LogoManitas.png" alt="Tu Manitas del Hogar" style="height: 150px;">
            </a>
            <!-- Título -->
            <div class="titles">
                <h1 class="navbar-brand main-title">Reparaciones A.M.R Tu Manitas del Hogar</h1>
                <h2 class="navbar-brand subtitle">Telefono: 674-276-179</h2>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link menu-button" href="/Home/Servicios">Servicios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu-button" href="/Home/Contacto">Contacto</a>
                </li>
            </ul>
        </div>
        </div>
    </nav>
    <div class="container mt-5">
        <h1>Bienvenidos a Tu Manitas del Hogar</h1>
        <p>Soluciones rápidas y efectivas para tu hogar.</p>

        <!-- Sección de Servicios -->
        <div class="mt-4">
            <h2>Nuestros Servicios</h2>
            <div class="row">
                <!-- Servicio 1: Aire Acondicionado -->
                <div class="col-md-4 mb-4">
                    <div class="service-item">
                        <img src="~/images/aireAcondicionado.png" class="img-fluid" alt="Aire acondicionado">
                        <div class="card-body">
                            <h5 class="card-title">Aire Acondicionado</h5>
                            <p class="card-text">Instalación y mantenimiento de sistemas de aire acondicionado.</p>
                        </div>
                    </div>
                </div>
                <!-- Servicio 2: Electricidad -->
                <div class="col-md-4 mb-4">
                    <div class="service-item">
                        <img src="~/images/Electricidad.jpg" class="img-fluid" alt="Electricidad">
                        <div class="card-body">
                            <h5 class="card-title">Electricidad</h5>
                            <p class="card-text">Reparaciones e instalaciones eléctricas de todo tipo.</p>
                        </div>
                    </div>
                </div>
                <!-- Servicio 3: Fontanería -->
                <div class="col-md-4 mb-4">
                    <div class="service-item">
                        <img src="~/images/fontaneria.png" class="img-fluid" alt="Fontanería">
                        <div class="card-body">
                            <h5 class="card-title">Fontanería</h5>
                            <p class="card-text">Soluciones rápidas a problemas de fontanería y plomería.</p>
                        </div>
                    </div>
                </div>
                <!-- Servicio 4: Comunidades -->                
                <div class="col-md-4 mb-4">
                    <div class="service-item">
                        <img src="~/images/Comunidades.jpg" class="card-img-top" alt="Comunidades">
                        <div class="card-body">
                            <h5 class="card-title">Comunidades</h5>
                            <p class="card-text">Mantenimiento Preventivo y Limpieza en la Comunidad de vecinos.</p>
                        </div>
                    </div>
                </div>
                <!-- Servicio 4: Pintura -->
                <div class="col-md-4 mb-4">
                    <div class="service-item">
                        <img src="~/images/Pintura.jpg" class="card-img-top" alt="Pintura">
                        <div class="card-body">
                            <h5 class="card-title">Pintura</h5>
                            <p class="card-text">Renueva tus espacios con nuestros expertos pintores.</p>
                        </div>
                    </div>
                </div>
                <!-- Servicio 5: publicidad -->
                <div class="col-md-4 mb-4">
                    <div class="service-item">
                        <img src="~/images/Persianas.jpg" class="card-img-top" alt="Persianas">
                        <div class="card-body">
                            <h5 class="card-title">Persianas</h5>
                            <p class="card-text">Renueva tus persianas y dale un aspecto nuevo.</p>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
    <!-- Pie de página con consentimiento de cookies -->
    <footer class="footer">
        <p>&copy; 2024 Reparaciones A.M.R. Todos los derechos reservados.</p>
        <p>Este sitio web utiliza cookies para mejorar tu experiencia. Al continuar navegando, aceptas el uso de cookies. <a href="/Home/PoliticasCookies" class="text-white">Más información</a>.</p>
    </footer>
</body>
</html>


